<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="aspnetcore-packs" value="/usr/lib/dotnet/packs/Microsoft.AspNetCore.App.Ref/8.0.26" />
    <add key="netcore-packs" value="/usr/lib/dotnet/packs/Microsoft.NETCore.App.Ref/8.0.26" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="/tmp/nuget-cache" />
  </config>
</configuration>
